<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>&#127799 admin's home! &#127799</title>
</head>
<body>
<div>
    <table>
        <tr>
            <th>
                <a th:href="@{/admin/add}">add user</a>
            </th>
        </tr>
        <tr>
            <th>
                <a th:href="@{/admin/list}">user's table</a>
            </th>
        </tr>
        <tr>
            <th>
                <a th:href="@{/logout}">logout</a>
            </th>
        </tr>
    </table>
</div>

</body>
</html>