<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>&#127799 userssss home! &#127799</title>
</head>
<body>
<div>
    <table>
        <tr>
            <th>
                <a th:href="@{/user/add}">add user</a>
            </th>
        </tr>
        <tr>
            <th>
                <a th:href="@{/user/list}">users list</a>
            </th>
        </tr>
        <tr>
            <th>
                <a th:href="@{/register}">sing up</a>
            </th>
        </tr>
    </table>
</div>

</body>
</html>